@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



:root {
  --narinci-reng: #FF8A56;
}

/* Google fonts start  */

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

/* Google fonts end */

/* Header Start */
.portfolio-creator {
  width: 190px;
}

.arrow1 {
  margin-left: 3px;
  display: none;
}

/* paragraf start */
.py-3 {
  font-size: 15px;
}

/* paragraf  */


/* Section Left Right Start */

.Book-a-call {
  background-color: #222;
  color: #fff;
  width: 151px;
  height: 58px;
  display: inline-flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  border-radius: 3px
    /* display inline inline-block */
}

.download-cv {
  text-decoration: none;
  color: #222;
  padding-left: 20px;
}

.intro-left-side h1 {
  font-size: 38px;

}

.intro-left-side h1 span {
  color: var(--narinci-reng)
}

.intro-left-side {
  padding-top: 50px;
}

.intro-right-side {
  padding-top: 30px;
}

/* Section Left Right end */


/* Section sirketlerr start */
.sirketler {
  text-align: center;
  align-items: center;
  justify-content: space-around;
  

  



}

.sirketler img {
  width: 100%;
  margin-left: 40px !important;
  /* justify-content: center; */
  /* align-items: center; */
  justify-content: space-around;
  

}

/* Section sirketlerr end */

/* Section Servisler start */
.shirket-services-section h5 {
  color: #FF5E69;
  letter-spacing: 4px;
}

/* descendant selector */
/* child selector */

.cards .card>img {
  width: 70px;
}

/* Section Servisler end */

/* Section Project Start */



/* .projects {
justify-content: space-between ;
}

.h6-project {
letter-spacing: 7px;
color: #B16CEA;
}

.cards-landscape img {
  width: 300px !important;
  justify-content: space-around ;
  align-items: center;
  
}

.project-button {
  text-decoration: none;
  color: #fff;
  background-color: #222;
  border-radius: 3px;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  width: 160px;
  height: 50px; 
} */

/* Section Project End */

/* Latest Blogs Section Start */
.dark {
  background-color: #222;
  color: #fff;
  padding: 120px 30px;
}

.dark a {
text-decoration: none;
color: #ccc;
}
  
.blog {
border-bottom: 1px solid #ccc ;
}

/* Latest Blogs Section End */







/* @media(min-width:320px) {
    .arrow1 {
        
    }
} */


@media(min-width:375px) and (max-width:576px) {
  .intro-left-side h1 {
    font-size: 40px;
  }
}



@media(min-width:768px) {
  .arrow1 {
    display: none;
  }

  .intro-left-side h1 {
    font-size: 44px;
  }

   .intro-left-side {
    /* padding-top: 0px; */
  } 

  .py-3 {
    font-size: 15px;
  }
}







@media(min-width:992px) {
  .portfolio-creator {
    /* width: 203px; */
      

  }

  .arrow1 {
    display: inline-block;
  }

  .intro-left-side h1 {
    font-size: 68px;
  }

  


  
}