@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



:root {
  --narinci-reng: #FF8A56;
}

/* * {
  border : 1px solid red;
} */

/* Google fonts start  */

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

/* Google fonts end */

/* Header Start */
.portfolio-creator {
  width: 190px;
}

.arrow1 {
  margin-left: 3px;
  display: none;
}

/* paragraf start */
.py-3 {
  font-size: 15px;
}

/* paragraf  */
/* body {
  overflow-x: hidden;
} */

/* Section Left Right Start */

.Book-a-call {
  background-color: #222;
  color: #fff;
  width: 123px;
  height: 58px;
  display: inline-flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  border-radius: 3px
    /* display inline inline-block */
}

.download-cv {
  text-decoration: none;
  color: #222;
  padding-left: 20px;
}

.intro-left-side h1 {
  font-size: 55px;

}

.intro-left-side h1 span {
  color: var(--narinci-reng)
}

.intro-left-side {
  padding-top: 50px;
}

.intro-right-side {
  padding-top: 30px;
}

/* Section Left Right end */

.projecth5br {
  color: #B16CEA;
  letter-spacing: 2px;
  
}





/* Section sirketlerr start */
.sirketler {
  text-align: center;
  align-items: center;
  justify-content: space-around;
  

  



}



.sirketler img {
  width: 300px;
  /* margin-left: -40px !important; */
  /* justify-content: center; */
  /* align-items: center; */
  justify-content: space-around;
  

}

/* Section sirketlerr end */

/* Section Servisler start */
.shirket-services-section h5 {
  color: #FF5E69;
  letter-spacing: 4px;
}

/* descendant selector */
/* child selector */

.cards .card>img {
  width: 70px;
}

/* Section Servisler end */

/* Section Project Start */
.project-cards-picture {
  width: 310px ;
}



.prevBtn , .nextBtn {
  padding: 12px 12px;
}
/* .swiper-wrapper {
  padding-left: 40px;
} */

/* Section Project End */

/* Latest Blogs Section Start */
.latestblogs{
  background-color: #222;
  color: #fff;
  /* padding: px 30px; */
  margin-top: -216px;
  padding-top: 180px;
}

.dark a {
text-decoration: none;
color: #ccc;
}
  


.project-card {
  z-index: 99999;
  background-color: #fff;
  margin-left: auto !important;
  /* width: 100%;
  margin-right: 70px !important; */
}





.blog {
  padding: 130px 20px;
  border-bottom: 1px solid #ccc !important;
}



.workers {
  margin-left: auto !important;
}


.prevButton , .nextButton {
  /* width: 140px;
  height: 100px; */
  padding: 12px 12px;
}




.ac-header {
  background-color: #222;
}


.ac-header button {
/* background-color: #222 !important; */
color: #fff !important;
outline: 1px solid #222 !important;
}

.ac-panel {
  background-color: #222;
  outline: 1px solid #222;
}

.accordion-container button  , .accordion-container-2 button {
  padding: 20px 0 !important;
}

.ac-panel .ac-text{
  color: #fff !important;
}


.footerp {
  color: #555;
}

.prevButton {
  background-color: red;
  text-decoration: dashed;
  transition: 1.2 ease-in-out;
  transform: perspective();
  color: #fff;
  display: flex;
  justify-content: center;
  display: flex;
  align-items: center;
  padding: 5px 30px;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 30px;
  color: var(--color-text);
  background: var(--color-background);
  transition: 1s;
  border-radius: 100px;
  box-shadow: 0 0 0.2em 0 var(--color-background);
  transition: 0.5s;
  margin-right: 0px;
  transform: scale(0.6);
  @-webkit-keyframes btn-content {
    0% {
      outline: 0.2em solid var(--color-background);
      outline-offset: 0;
    }
  }
  
}

.nextButton {
  background-color: blue;
  text-decoration: dashed;
  transition: 1.2 ease-in-out;
  transform: perspective();
  color: #fff;
  display: flex;
  align-items: center;
  padding: 5px 30px;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 30px;
  color: var(--color-text);
  background: var(--color-background);
  transition: 1s;
  border-radius: 100px;
  box-shadow: 0 0 0.2em 0 var(--color-background);
  transition: 0.5s;
  margin-right: 0px;
  transform: scale(0.6);
  transition: 0.5s;
  margin-right: 25px;
  @-webkit-keyframes btn-content {
    0% {
      outline: 0.2em solid var(--color-background);
      outline-offset: 0;
    }
  }
}

.prevBtn {
  background-color: red;
  text-decoration: dashed;
  transition: 1.2 ease-in-out;
  transform: perspective();
  color: #fff;
  display: flex;
  justify-content: center;
  display: flex;
  align-items: center;
  padding: 5px 30px;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 30px;
  color: var(--color-text);
  background: var(--color-background);
  transition: 1s;
  border-radius: 100px;
  box-shadow: 0 0 0.2em 0 var(--color-background);
  transition: 0.5s;
  margin-right: 0px;
  transform: scale(0.6);
  @-webkit-keyframes btn-content {
    0% {
      outline: 0.2em solid var(--color-background);
      outline-offset: 0;
    }
  }
  
}


.nextBtn {
  background-color: red;
  text-decoration: dashed;
  transition: 1.2 ease-in-out;
  transform: perspective();
  color: #fff;
  display: flex;
  justify-content: center;
  display: flex;
  align-items: center;
  padding: 5px 30px;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 30px;
  color: var(--color-text);
  background: var(--color-background);
  transition: 1s;
  border-radius: 100px;
  box-shadow: 0 0 0.2em 0 var(--color-background);
  transition: 0.5s;
  margin-right: 0px;
  transform: scale(0.6);
  @-webkit-keyframes btn-content {
    0% {
      outline: 0.2em solid var(--color-background);
      outline-offset: 0;
    }
  }
  
}



@media(min-width:320px) and (max-width:576px) {
  .intro-left-side h1 {
    font-size: 31px;
  }

  .Book-a-call { 
    width: 107px;
  }

  .download-cv {
    text-decoration: none;
    color: #222;
    /* padding-left: -7px; */
  }

  .nav-right-side {
    padding-left: 70px;
  }


  .project-card {
    margin-left: 30px;
  }

  /* .navigation-button {
    padding-right: 40px !important;
    padding-bottom: 60px;
    
  } */

}



@media(min-width:768px) {
  .arrow1 {
    display: none;
  }

  .intro-left-side h1 {
    font-size: 44px;
  }

  .intro-left-side {
    /* padding-top: 0px; */
  } 

  .paragraf-text {
    font-size: 15px;
  }

  .project-cards-picture {
    width: 320px ;
  }
 

  .test-mans {
    width: 300px !important;
  }
  
  
  .info-mans {
    width: 340px ;
  }
  
  .testimonials-navigation {
    padding-top: 13px;
  }
  
  .section-right-side {
        padding-top: 30px;
  }
  
  .nav-right-side {
    padding-left: 100px;
  }





}







@media(min-width:992px) {
  .portfolio-creator {
    /* width: 203px; */
      

  }

  .arrow1 {
    display: inline-block;
  }

  .intro-left-side h1 {
    font-size: 65px;
  
  }

  
  /* .testimonials-navigation {
    margin-top: 237px !important;
  } */


  .workers .mansekil {
    width: 550px !important;
  }




  .test-mans {
    width: 450px !important;
  }
  

  .navigation-button-man {
    width: 200px;
    height: 30px;
  }
  
  .info-mans {
    width: 440px ;
  }
  
  .testimonials-navigation {
    padding-top: 50px;
  }
  
  .section-right-side {
        padding-top: 40px;
  }


  .project-cards-picture {
    width: 600px ;
  }


  .view-project {
  margin-top: 70px !important ;
  }
/* .nav-right-side {
  padding-left: 230px;
  padding-top: 20px;
}
   */
}